.App {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-family: "Lobster", cursive;
  background-image: url("../public/wallpaperflare.com_wallpaper.jpg");
  background-position: center;
  height: 100vh;
}

h1 {
  margin: 0px;
  padding: 20px;
}

/* Glassmorphism card effect */
.card {
  backdrop-filter: blur(6px) saturate(171%);
  -webkit-backdrop-filter: blur(6px) saturate(171%);
  background-color: rgba(17, 25, 40, 0.22);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.App .css-1633um2-MuiPaper-root {
  background-color: transparent;
}
.App .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  background-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
